@layer base {
  :root {
    /* -------------------------------------------------------------------------
       Neutrals
    ------------------------------------------------------------------------- */
    --white: #ffffff;
    --black: #000000;

    /* -------------------------------------------------------------------------
       Brand
    ------------------------------------------------------------------------- */
    --color-primary: #e71e1e;
    --color-secondary: #14c263;
  }
}
