@layer base {
  :root {
    /* -------------------------------------------------------------------------
       Neutrals
    ------------------------------------------------------------------------- */
    --white: #ffffff;
    --black: #000000;
    --grey: #FCFCFC;

    /* -------------------------------------------------------------------------
       Brand
    ------------------------------------------------------------------------- */
    --color-primary: #e71e1e;
    --color-secondary: #14c263;

    --shade1: 0 3px 12px 0 rgba(0,0,0, 0.09);
    --shade2: 0 4px 12px 0 rgba(0,0,0, 0.12);
    --shade3: -10px 0px 10px 0 rgba(0,0,0, 0.12);

    --ease: cubic-bezier(0.5, 0, 0, 1);
  }
}
